/* #region ASSETS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}
 .container{
    width: 90%;
    max-width: 1200px;
    margin: auto ;
 }

 .container_sm{
    width: 70%;
    max-width: 1200px;
    margin: auto ;
 }

 .container_xsm{
    width: 50%;
    max-width: 1200px;
    margin: auto ;
 }

 .row{
    display: flex;
    flex-wrap: wrap;

}

body{
    font-family: 'Open Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
}
/* #endregion ASSETS */

/* #region HEAD */
header .debug{
    height: 7vh;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;

}

.info img{
    height: 3vh;
}
.nav .debug{
    font-size:0.7rem ;
   width: 60vh;
    padding: 0 ;
}

.contatti button{
    color: white;
    background-color:#0061FF;
    border: 0;
    padding: 0.2rem 0.5rem;
}

.inizia:hover {
    box-shadow: 0 0 5px black;
    background-color: #4988ee;
    color: black;
    cursor: pointer;
}

.nav_head:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* #endregion HEAD */

/* #region MAIN */

/* #region INTRODUZIONE */

.light_background{
 background-color:#B4D0E7 ;
 padding-top: 10vh;
 


}

.light_background .debug{
    height: 70vh;
    
}

.introduzione .debug{

    display: inline-block;
    width: 50%;
    
}

.prova_gratuita{
    margin-top: 6vh;
    font-size: 0.8rem;
}

.proposta{
   display: inline-block;
}

.jumbo{
    display: flex;   
    justify-content: space-between;  
}

h1{
    
    font-size: 4rem;
    
}

.blue_button{
    margin: 1.4rem 0;
    color: white;
    background-color: #0061FF;
    border: 0;
    padding: 0.5rem 0.8rem;
}

.blue_button:hover{
    box-shadow: 0 0 5px black;
    background-color: #4988ee;
    color: black;
    cursor: pointer;
}

.arrow{
    font-size: 2.5rem;
    margin-top: 7vh;
    cursor: pointer;
    color: black;
    
}

.proposta img{
    height: 48vh;
    margin-top: 6vh;
}



/* #endregion INTRODUZIONE */

/* #region PIANO BUISNESS */
.fatt::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 11px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    border: 1px solid black;
    margin-right: 3px;
    
}

.fatt_selezionato::before {
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    border: 5px solid rgb(97, 169, 220);
    margin-right: 3px;
;

}

.fatturazione h2{
    font-size: 2rem;
    margin-bottom: 5vh;
}



.fatturazione{
    margin-top: 26vh ;
    margin-bottom:5vh;
}

.fatt{
    margin-left: 5vw;
}

.piano_buisness{
    margin-bottom:15vh ;
}

.professional{
    padding: 0.5rem 1.4rem;
    font-size: 0.8rem;
    border: 1px solid #C3C3C3;
    
    
}

.gruppo{
    border-bottom: 1px solid #C3C3C3;
    padding-bottom: 0.5rem;
    text-align: center;
}

.professional h3{
    margin-top: 2rem;
    margin-bottom: 1rem;
    
}
.tariffa{
    margin-bottom: 2.5rem;  
}

.prezzo_piani{
    font-size: 0.6rem;
}

.numero_utenti, .archiviazione, .condivisione{
    margin-bottom: 1rem;
    display: inline-block;
}

.pagamento{
    color: #AAACB0;
}

.blue_button_piani{
  color: white;
  background-color: #0061FF;
  padding: 0.5rem 3rem;
  border: 0;
  margin-right: 0;
}

.blue_button_piani:hover{
    box-shadow: 0 0 5px black;
    background-color: #4988ee;
    color: black;
    cursor: pointer;
}

.blue_button_contattaci{
    color: white;
    background-color: #0061FF;
    padding: 1rem 3rem;
    border: 0;
    margin-right: 0;
  }

  .blue_button_contattaci:hover{
    box-shadow: 0 0 5px black;
    background-color: #4988ee;
    color: black;
    cursor: pointer;
  }

.centre_button{
    text-align: center;
    margin: 1.5rem 0;
}

.grey_border{
    border-bottom: 1px solid #C3C3C3;
    margin-right: 0.5rem;
    padding-bottom: 2rem;
}

.acquista_ora{
    color: #4F53F3;
    text-decoration: none;
}

.acquista_ora:hover{
    text-decoration: underline;
}

.punti_salienti{
    margin-top: 4rem;   
}

.last_point{
    margin: 1rem 0;
}

.punti_salienti i{
    color: #0061FF;
}


.avanced{
    padding: 0.5rem 1.4rem;
    font-size: 0.8rem;
    border: 1px solid #C3C3C3;
    
}

.avanced h3{
    margin-top: 2rem;
    margin-bottom: 1rem;
    
}

.enterprise{
    padding: 0.5rem 1.4rem;
    font-size: 0.8rem;
    border: 1px solid #C3C3C3;
     
}

.enterprise h3{
    margin-top: 2rem;
    margin-bottom: 1rem;
    
}

.piani{
    margin-bottom: 5vh ;
    justify-content: space-between;
}

.ufficio_vendite{
    
    text-align: center;
    border: 1px solid #C3C3C3;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    
}

.ufficio_vendite h2, .ufficio_vendite h3, .ufficio_vendite p{
    padding-left: 2.5rem;
}
.team{
     font-size: 0.8rem;
     padding-top: 1rem;
}

.ufficio_vendite h2{
    font-size: 1.2rem;
    margin-top: 1rem;
}

.ufficio_vendite h3{
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.ufficio_vendite p{
    font-size: 0.6rem;
    margin-top: 1rem;

}

.ufficio_vendite_bt{
    margin-top: 1rem;
    color: white;
    background-color: #0061FF;
    border: 0;
    padding: 0.6rem 2rem;
}

.ufficio_vendite_bt:hover{
    box-shadow: 0 0 5px black;
    background-color: #4988ee;
    color: black;
    cursor: pointer;
}



.soluzioni{
    text-align: start;
    
}

/* #endregion PIANO BUISNESS */

/* #region PARTNER */
.partner img{
    height: 25rem;
    width: 35rem;
}
.uomini{
    display: inline-block;
}
.contatto{
    float: right; 
    width: 40%;
    padding:2rem ;
}

.contatto h2{
    margin-bottom: 2rem;
}

.contatto p{
    font-size: 0.8rem;
    margin-bottom: 2rem;

}

.partner_bt{
    background-color: white;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 1px solid black;
    border-top: 2px solid rgb(203, 203, 203);
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
}

.partner_bt:hover{
    padding: 1rem 2rem;
    box-shadow: 0 0 10px black;
    border: 0;
    cursor: pointer;
    font-size: 1rem;

}

/* #endregion PARTNER */

/* #region OPERAZIONI */
.operazioni{
    margin-top: 10vh;  
 
}

.attivita_quotidiane img{
    height: 30vh;
    
}
.attivita_quotidiane p{
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.attivita_quotidiane h3{
    margin-bottom: 1.5rem;
}

.card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.operazioni h2{
    margin-bottom: 3rem ;
}
/* #endregion OPERAZIONI */

/* #region CLIENTI */

.clienti{ 
    margin-top: 6rem;
    margin-bottom: 6rem;

}

.clienti h2{
 font-size: 3rem;
}

.link_clienti{
  margin-top: 5rem;
}   

.link{
    color: #4F53F3;
    text-decoration: none;
}

.link:hover{
  cursor: pointer;
  text-decoration: underline;
}
/* #endregion CLIENTI */

/* #region LOGHI */
.loghi{
    position: relative;

}


.designt{
   position: absolute;
   height:25vh ;
   width: 16.6vw;
   background-color: #a2d39b;
   border: 0.5rem solid #d1e9cd;
}

.designt svg{
    padding-left: 5vw;
    height: 25vh;
    width: 25vh;
}

.loghi p{
    filter:invert();
}

.asu{
    position: absolute;
    height:25vh ;
    width: 16.6vw;
    background-color: #61082b;
    left: 16.6vw;
}

.asu svg{
    padding-left: 5vw;
    height: 25vh;
    width: 25vh;
}

 .uf{
    position: absolute;
    height:25vh ;
    width: 16.6vw;
    background-color: #0093ce;
    top:25vh;
 }

 .uf svg{
    padding-left: 5vw;
    padding-top: 10vh;
    height: 25vh;
    width: 25vh;
}
 .topps{
    position: absolute;
    height:25vh ;
    width: 16.6vw;
    background-color: #f91b1b;
    top:25vh;
    left: 16.6vw;
 }

 .topps svg{
    padding-left: 5vw;
    padding-top: 0vh;
    height: 25vh;
    width: 25vh;
}

 .designt_big{
    position: absolute;
    height: 50vh ;
    width: 33vw;
    background-color:#f5f5f5;
    left: 33.2vw;

 }

 .designt_big svg{
    padding-left: 5vw;
    height: 20vh;
    width: 40vh;
}

.designt_big p{
    filter: none;
}

.border_top{
    border-top: 1px solid #C3C3C3;
    padding-top: 1rem;
}

.esigenze, .scrittore{
    padding-left: 5vh;
    padding-right: 5vh;
    font-size: 0.8rem;
}

.scrittore{
    margin-top: 2rem;
}


 .hearst{
    position: absolute;
    height:25vh ;
    width: 16.6vw;
    background-color:#b4d0e7;
    right: 0;
 }

 .hearst svg{
    padding-left: 5vh; 
    padding-top: 0vh;
    height: 25vh;
    width: 30vh;
}
 
 .bicycle{
     position: absolute;
     height:25vh ;
     width: 16.6vw;
     background-color: #d5001f;
     right: 16.6vw;
  }

  .bicycle svg{
    padding-left: 5vh; 
    padding-top: 0vh;
    height: 25vh;
    width: 30vh;
}

.planet{
   position: absolute;
   height:25vh ;
   width: 16.6vw;
   background-color: #0d2481;
   top:25vh;
   right: 16.6vw;
}

.planet svg{
    padding-left: 5vh; 
    padding-top: 0vh;
    height: 25vh;
    width: 30vh;
}
  .channel{
     position: absolute;
     height:25vh ;
     width: 16.6vw;
     background-color: #ffd830;
     top:25vh;
     right: 0;
  }

  .channel svg{
    padding-left: 5vh; 
    padding-top: 0vh;
    height: 25vh;
    width: 30vh;
}

/* #endregion LOGHI */

/* #region PROVA GRATUITA */
.light_background_small{
    height: 32vh ;
    margin-top: 63vh;
    background-color: #b4d0e7;
}

.prova_gratuita_bottom{
    padding-top: 12vh;
}

.prova_gratuita_bottom button{
    float: right;
    font-size: 0.6rem;
    background-color: white;
    padding: 0.5rem 2rem;
    border: 0;
}

.prova_gratuita_bottom h2{
    display: inline-block;
    color:#5c001e ;
}

.free_trial:hover{
    padding: 1rem 2rem;
    box-shadow: 0 0 10px black;
    border: 0;
    cursor: pointer;
    font-size: 0.8rem;
}
/* #endregion PROVA GRATUITA */

/* #region DOMANDE FREQUENTI */
.domande_frequenti{
    margin-top: 10vh;
    margin-bottom: 10vh ;
}

.domande_frequenti h2 {
 border-bottom: 2px solid #C3C3C3;
 padding-bottom: 4vh;
}

.domande_frequenti p{
    border-bottom: 2px solid  #C3C3C3;
    padding-bottom: 3vh;
    padding-top: 3vh;
}

.dropdown_arrow{
    position: absolute;
    right: 2vw;
}

.domande{
    position: relative;
}
.risposte{
    display: none;
}

.domande_frequenti div{
  border-bottom: 1px solid #C3C3C3;
  padding: 2rem 0;
}

.domande:hover  .risposte{
 display: inline-block;
} 

.domande:hover{
    border-bottom: 0;
    
    
}

.domande:hover .dropdown_arrow{
    transform: rotate(180deg);
    
}
 /* #endregion DOMANDE FREQUENTI */

 /* #endregion MAIN */

/* #region FOOTER */

.background_dark{
    background-color: black;
    color: white;
}

.navigazione{
    padding-top: 7vh ;
    display: flex;
    justify-content: space-between;
    padding-bottom: 7vh;
}

.navigazione h3{
    margin-bottom:2vh ;
}

.dropbox_foot, .prodotti, .azienda, .supporto{
    line-height: 5vh;
}

.navigazione div{
    display: inline-block;
}

.lingua{
    border-top: 1px solid #C3C3C3;
    width:10vw ;
    padding: 3.5vh 0;
    color: #C3C3C3;
}

.nav_foot:hover {
    text-decoration: underline;
    cursor: pointer;
}


/* #endregion FOOTER */

/* #region DIVISIONI */
.col-3{
    width: calc(100% / 12 * 3 );
}
.col-8{
    width: calc(100% / 12 * 8 );
}

.col-3_plus{
    width: calc(100% / 12 * 3 + 6vh );
}


/* #endregion DIVISIONI */

